.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container h1{
    font-size: 4rem;
    color: #6ce200;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin: 0;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
  }
  
  img.title {
    margin-right: 30px;
    height: auto;
  }
  .container img {
    width: 200px;
    height: auto;
  }
  
  @media screen and (max-width: 800px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    img.title {
      margin: 10px auto;
    }
  }
  